<div class = "jumbotron">
  <div class ="row">
    <% @profiles.each do |profile| %>
      <div class = "col-md-6">
       <p><%= image_tag(profile.image ,width: "50%" , height: "50%" , class: "profile-image") %></p>
      </div>
      <div class = "col-md-6">
         <p><%= profile.username %></p>
         <p><%= profile.bio %></p>
         <p><%= link_to 'Edit Profile', edit_profile_path(profile) %></p>
         <p><%= link_to 'Log out ', destroy_user_session_path,method: :delete %></p>
         <p><%= link_to 'Delete', profile, method: :delete %> </p>
       </div>
  <% end %>
</div>
</div>